@import 'scss/variables';
@import 'scss/keyframes';
@import 'scss/main';
@import 'scss/media';

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    // border: 1px solid red;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: $header-color;
}

::-webkit-scrollbar-thumb {
    background: $additional-font-color;
    border: 5px solid $header-color;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(161, 158, 158);
}