@-webkit-keyframes showContainer {
  0% {
    -webkit-transform: translateX(100vw) scale(0.2);
            transform: translateX(100vw) scale(0.2);
  }
  90% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes showContainer {
  0% {
    -webkit-transform: translateX(100vw) scale(0.2);
            transform: translateX(100vw) scale(0.2);
  }
  90% {
    -webkit-transform: translateX(0) scale(0.9);
            transform: translateX(0) scale(0.9);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes hideContainer {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes hideContainer {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes btnAnimation {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes btnAnimation {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0);
            transform: rotate(180deg) scale(0);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes showModal {
  0% {
    -webkit-transform: translate(-50%, -75%) scale(0);
            transform: translate(-50%, -75%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) scale(1);
            transform: translate(-50%, -75%) scale(1);
  }
}

@keyframes showModal {
  0% {
    -webkit-transform: translate(-50%, -75%) scale(0);
            transform: translate(-50%, -75%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) scale(1);
            transform: translate(-50%, -75%) scale(1);
  }
}

@-webkit-keyframes showCloseBtn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showCloseBtn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes blur {
  100% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

@keyframes blur {
  100% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #111111;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background: #B29700;
  border: 5px solid #111111;
}

::-webkit-scrollbar-thumb:hover {
  background: #a19e9e;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 250px;
  padding: 0 50px 0 30px;
  border: 1px solid #B29700;
  border-radius: 24px;
  text-align: left;
  color: #bbb;
  background-color: #111111;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
  overflow: hidden;
}

.modal.active {
  display: block;
  z-index: 1;
  -webkit-animation: .3s showModal linear both;
          animation: .3s showModal linear both;
}

.modal__container {
  height: 160px;
  max-height: 160px;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

.modal__title {
  line-height: 60px;
  font-size: 1.5em;
  color: #B29700;
}

.modal__content {
  font-size: 0.9em;
  list-style: none;
  padding: 0 10px 0 20px;
}

.modal__content li {
  position: relative;
  line-height: 20px;
  padding-bottom: 8px;
}

.modal__content li::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -10px;
  -webkit-transform: translate(-3px, -50%);
          transform: translate(-3px, -50%);
  height: 5px;
  width: 5px;
  background-color: #B29700;
}

.modal__close {
  display: none;
}

.modal__close.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: .3s showCloseBtn linear both;
          animation: .3s showCloseBtn linear both;
}

@media (max-width: 1024px) {
  .modal {
    width: 550px;
  }
}

@media (max-width: 640px) {
  .modal {
    width: 300px;
    padding: 0 10px 0 10px;
  }
}

.app-btn {
  border: 1px solid;
  border-radius: 24px;
  text-align: center;
  background-color: #111111;
  color: #B29700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.app-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.app-btn--nav {
  display: block;
  padding: 0 15px;
  margin-right: 30px;
  font-size: 1.9em;
  color: #bbb;
  background-color: transparent;
  border: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

.app-btn--nav:hover {
  -webkit-transform: scale(1.15) rotate(5deg);
          transform: scale(1.15) rotate(5deg);
  color: #B29700;
}

.app-btn--container {
  position: relative;
  margin-top: 60px;
  padding: 0 40px;
  font-size: 1.3em;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.app-btn--container:hover {
  color: #111111;
  background-color: transparent;
}

.app-btn--container::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 200%;
  border-radius: 24px 24px 0 0;
  background: #B29700;
  z-index: -1;
  -webkit-transition: .15s;
  transition: .15s;
}

.app-btn--container:hover::before {
  top: -50%;
}

.app-btn--quantity {
  position: relative;
  width: 40px;
  font-size: 1em;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.app-btn--quantity:hover {
  color: #111111;
  border: 1px solid #B29700;
  background-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.app-btn--quantity::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 0 24px 24px 0;
  background: #B29700;
  z-index: -1;
  -webkit-transition: .15s;
  transition: .15s;
}

.app-btn--quantity:hover::before {
  left: 0;
}

.app-btn--quantity.down {
  border-radius: 24px 0 0 24px;
}

.app-btn--quantity.down:hover {
  border-right: 0;
}

.app-btn--quantity.up {
  border-radius: 0 24px 24px 0;
}

.app-btn--quantity.up:hover {
  border-left: 0;
}

.app-btn--quantity.up::before {
  left: 100%;
  border-radius: 24px 0 0 24px;
}

.app-btn--quantity.up:hover::before {
  left: 0;
}

.app-btn--close {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 2.3em;
  background-color: transparent;
  color: #e91f00;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.app-btn--close i {
  -webkit-transition: .2s;
  transition: .2s;
}

.app-btn--close i:hover {
  -webkit-transform: rotate(90deg) scale(1.15);
          transform: rotate(90deg) scale(1.15);
}

.app-btn--chart {
  border: 0;
  margin: 30px 0;
  padding: 5px 20px;
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
}

.app-btn--chart:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 768px) {
  .app-btn--nav {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin: 0 0;
    padding-top: 3px;
    border-bottom: 2px solid #bbb;
    font-size: 1.4em;
  }
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid;
  background-color: #111111;
  -webkit-box-shadow: 5px 9px 20px 8px #0f0f0f;
          box-shadow: 5px 9px 20px 8px #0f0f0f;
  color: #B29700;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: #B29700;
  cursor: default;
}

header a h1 {
  padding: 5px 0 0 30px;
  font-size: 2.7em;
  letter-spacing: -1px;
  word-spacing: 5px;
}

header nav {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 0;
  }
  header a {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
  header a h1 {
    width: 100%;
    padding: 0 0;
    text-align: center;
  }
  header nav {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 640px) {
  header a h1 {
    font-size: 2.2em;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

main .currencyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  min-width: 400px;
  padding: 40px 0;
  text-align: center;
  color: #ddd;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  cursor: default;
}

main .currencyContainer.withoutOtherInfo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 20px 0 0;
}

main .currencyContainer.withoutOtherInfo .otherInfo {
  display: none;
}

main .currencyContainer .mainInfo {
  padding-bottom: 20px;
}

main .currencyContainer .mainInfo .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

main .currencyContainer .mainInfo .name .icon {
  display: block;
  width: 40px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  background-color: black;
}

main .currencyContainer .mainInfo .name .currency {
  padding-left: 7px;
  font-size: .65em;
}

main .currencyContainer .mainInfo div.currentExchange p {
  font-size: 1.3em;
}

main .currencyContainer .mainInfo div.currentExchange p .exchange {
  font-weight: bold;
  font-size: 1em;
}

main .currencyContainer .mainInfo div.currentExchange p .trend {
  padding-left: 6px;
}

main .currencyContainer .mainInfo .updateDate {
  color: #B29700;
  font-size: .8em;
}

main .currencyContainer .otherInfo {
  position: relative;
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 25px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 12px 12px rgba(0, 0, 0, 0.72);
          box-shadow: 3px 4px 12px 12px rgba(0, 0, 0, 0.72);
  background-color: rgba(20, 20, 20, 0.5);
  overflow: hidden;
  border-left: 1px solid #B29700;
  border-right: 1px solid #B29700;
  -webkit-transition: .2s;
  transition: .2s;
}

main .currencyContainer .otherInfo:hover {
  -webkit-box-shadow: 3px 4px 12px 12px #b2970018;
          box-shadow: 3px 4px 12px 12px #b2970018;
}

main .currencyContainer .otherInfo::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-top: 2px solid;
  border-radius: 25px;
  color: #B29700;
  background-color: #111111;
}

main .currencyContainer .otherInfo.enableBlur > * {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

main .currencyContainer .otherInfo.enableBlur > *.app-btn--chart {
  -webkit-filter: blur(0);
          filter: blur(0);
  color: #bbb;
}

main .currencyContainer .otherInfo h2 {
  color: #B29700;
  line-height: 50px;
  font-size: 1.3em;
}

main .currencyContainer .otherInfo .paragraphsContainer {
  max-height: 300px;
}

main .currencyContainer .otherInfo .paragraphsContainer.scrollable {
  overflow-y: scroll;
}

main .currencyContainer .otherInfo .paragraphsContainer p {
  font-size: .8em;
  height: 20px;
}

main .currencyContainer .otherInfo .paragraphsContainer p .lastRate {
  padding-right: 10px;
  font-weight: bold;
}

main .currencyContainer .otherInfo .paragraphsContainer p .lastDate {
  font-size: 0.8em;
}

main .sectionContainer {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 500px;
  padding-top: 50px;
  color: #ddd;
}

main .sectionContainer h2 {
  padding-bottom: 5px;
  font-size: 2em;
  color: #B29700;
}

main .sectionContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sectionContainer form p {
  padding-top: 25px;
  padding-bottom: 7px;
  font-size: 1.3em;
  text-align: center;
}

main .sectionContainer form input,
main .sectionContainer form select {
  color: #B29700;
  padding: 0 8px;
  border: 1px solid #B29700;
  border-radius: 24px;
  background-color: #111111;
  font-size: 1em;
  text-align: center;
}

main .sectionContainer form select {
  text-align-last: center;
  cursor: pointer;
}

main .sectionContainer form input:focus {
  -webkit-box-shadow: 3px 4px 12px 2px #b2970038;
          box-shadow: 3px 4px 12px 2px #b2970038;
}

main .sectionContainer form .inputQuantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sectionContainer form .inputQuantity-container input {
  width: 55px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

main .sectionContainer--calculator form #form_calculator-options {
  text-align: center;
}

main .sectionContainer--calculator form #form_calculator-result {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .sectionContainer--calculator form #form_calculator-result .form_calculator-resultContainer {
  position: relative;
}

main .sectionContainer--calculator form #form_calculator-result .form_calculator-resultContainer span {
  position: absolute;
  left: calc(100% + 7px);
  height: 100%;
}

main .sectionContainer--curiosites form {
  min-height: 150px;
  width: 600px;
}

main .sectionContainer--curiosites .curiosity {
  padding-top: 10px;
  font-size: 1em;
  font-style: italic;
}

main .sectionContainer--curiosites .curiosity span:nth-of-type(2) {
  padding-left: 2px;
  vertical-align: 2px;
  -webkit-animation: .75s lineAnimation linear infinite;
          animation: .75s lineAnimation linear infinite;
}

@-webkit-keyframes lineAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lineAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  main .sectionContainer {
    padding-top: 20px;
  }
  main .sectionContainer--curiosites form {
    width: 400px;
  }
}

@media (max-width: 640px) {
  main .currencyContainer .mainInfo .name .icon {
    width: 30px;
    height: 25px;
  }
  main .currencyContainer .otherInfo {
    padding: 0 15px 20px;
  }
  main .currencyContainer .otherInfo::after {
    height: 20px;
  }
  main .currencyContainer .otherInfo h2 {
    line-height: 45px;
  }
  main .currencyContainer .otherInfo .paragraphsContainer {
    max-height: 225px;
  }
  main .currencyContainer .otherInfo .paragraphsContainer p {
    height: 15px;
  }
  main .sectionContainer {
    padding-top: 10px;
    font-size: 0.9em;
  }
  main .sectionContainer--curiosites form {
    width: 250px;
  }
}

canvas#background {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background-color: #212121;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='1' stroke-opacity='0.17' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform=''/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#chartContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 40px;
  border-radius: 24px;
  border: 1px solid #B29700;
  background-color: #111111;
}

#chartContainer.active {
  display: block;
}

#chartContainer.active button {
  -webkit-animation: .3s .5s showCloseBtn linear both;
          animation: .3s .5s showCloseBtn linear both;
  top: 0;
}

@media (max-width: 1024px) {
  #chartContainer {
    padding: 25px 10px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.wrapper.blurred,
.wrapper.blurred ~ canvas#background {
  pointer-events: none;
  -webkit-animation: .1s blur linear both;
          animation: .1s blur linear both;
}

body {
  min-height: 100vh;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  background-color: black;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}
