* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

body header {
  position: relative;
  background-color: #111;
  color: #B29700;
  border-bottom: 2px solid;
}

body header h1 {
  font-size: 3em;
  padding: 15px 0 10px 80px;
}

body header nav {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav a {
  display: block;
  padding: 0 15px;
  margin-right: 30px;
  font-size: 2em;
  color: #bbb;
  -webkit-transition: .1s;
  transition: .1s;
}

body header nav a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #B29700;
}

body main {
  padding: 20px 0;
  background-color: #222;
}

body main #mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

body main #mainContainer .currencyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  text-align: center;
  color: #ddd;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  min-width: 350px;
}

body main #mainContainer .currencyContainer .mainInfo {
  padding-bottom: 40px;
}

body main #mainContainer .currencyContainer .mainInfo p:nth-of-type(1) {
  font-size: 1.5em;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #mainContainer .currencyContainer .mainInfo p:nth-of-type(1) .icon {
  display: block;
  width: 35px;
  background-size: cover;
  background-position: center;
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

body main #mainContainer .currencyContainer .mainInfo p:nth-of-type(1) .currency {
  font-size: .7em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body main #mainContainer .currencyContainer .mainInfo p:nth-of-type(2) {
  font-size: 1.3em;
}

body main #mainContainer .currencyContainer .mainInfo p:nth-of-type(2) .exchange {
  font-weight: bold;
  font-size: 1em;
}

body main #mainContainer .currencyContainer .mainInfo p:nth-of-type(3) {
  font-size: .8em;
  color: #B29700;
}

body main #mainContainer .currencyContainer .otherInfo {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px 50px;
  -webkit-box-shadow: 3px 4px 12px 8px rgba(0, 0, 0, 0.72);
  box-shadow: 3px 4px 12px 8px rgba(0, 0, 0, 0.72);
  background-color: #333333;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

body main #mainContainer .currencyContainer .otherInfo.enableBlur > * {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

body main #mainContainer .currencyContainer .otherInfo.enableBlur > *.chart {
  -webkit-filter: blur(0);
          filter: blur(0);
  color: #ccc;
}

body main #mainContainer .currencyContainer .otherInfo.hidden {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 100px;
}

body main #mainContainer .currencyContainer .otherInfo h2 {
  color: #B29700;
  padding: 20px 0px;
  font-size: 1.4em;
}

body main #mainContainer .currencyContainer .otherInfo p {
  font-size: .85em;
  padding-bottom: 6px;
}

body main #mainContainer .currencyContainer .otherInfo p .lastRate {
  font-weight: bold;
}

body main #mainContainer .currencyContainer .otherInfo button {
  background-color: #111;
  border: 0;
  color: #B29700;
  cursor: pointer;
}

body main #mainContainer .currencyContainer .otherInfo button:focus {
  outline: none;
}

body main #mainContainer .currencyContainer .otherInfo button.switch {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: 2px solid;
  font-size: 1.2em;
  -webkit-transition: .3s;
  transition: .3s;
}

body main #mainContainer .currencyContainer .otherInfo button.switch i {
  -webkit-transition: .2s;
  transition: .2s;
}

body main #mainContainer .currencyContainer .otherInfo button.switch:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #bbb;
}

body main #mainContainer .currencyContainer .otherInfo button.switch.rotate i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main #mainContainer .currencyContainer .otherInfo button.chart {
  background-color: transparent;
  margin-top: 30px;
  padding: 5px 50px 30px;
  font-size: 1.1em;
  font-weight: bold;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  body header h1 {
    font-size: 1.85em;
    padding: 15px 3px 5px;
    text-align: center;
  }
  body main #mainCurrency .currencyContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  body main #mainCurrency .currencyContainer .mainInfo p:nth-of-type(1) .icon {
    display: block;
    width: 25px;
  }
}
/*# sourceMappingURL=style.css.map */