@-webkit-keyframes showContainer {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showContainer {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hideContainer {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes hideContainer {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

body {
  min-height: 100vh;
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  background-color: black;
  overflow-x: hidden;
}

body canvas#background {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background-color: #212121;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='1' stroke-opacity='0.17' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform=''/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23b29700' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body header {
  position: relative;
  border-bottom: 2px solid;
  background-color: #111111;
  color: #B29700;
}

body header a {
  text-decoration: none;
  color: #B29700;
  cursor: default;
}

body header a h1 {
  padding: 5px 0 0 30px;
  font-size: 2.7em;
  letter-spacing: -1px;
  word-spacing: 5px;
}

body header nav {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav button {
  display: block;
  padding: 0 15px;
  margin-right: 30px;
  font-size: 1.9em;
  color: #bbb;
  background-color: transparent;
  border: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

body header nav button:hover {
  -webkit-transform: scale(1.15) rotate(5deg);
          transform: scale(1.15) rotate(5deg);
  color: #B29700;
}

body main #mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body main #mainContainer .currencyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  min-width: 400px;
  padding: 40px 0;
  text-align: center;
  color: #ddd;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

body main #mainContainer .currencyContainer .mainInfo {
  padding-bottom: 20px;
}

body main #mainContainer .currencyContainer .mainInfo .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

body main #mainContainer .currencyContainer .mainInfo .name .icon {
  display: block;
  width: 40px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
  background-color: black;
}

body main #mainContainer .currencyContainer .mainInfo .name .currency {
  padding-left: 7px;
  font-size: .65em;
}

body main #mainContainer .currencyContainer .mainInfo div.currentExchange p {
  font-size: 1.3em;
}

body main #mainContainer .currencyContainer .mainInfo div.currentExchange p .exchange {
  font-weight: bold;
  font-size: 1em;
}

body main #mainContainer .currencyContainer .mainInfo div.currentExchange p .trend {
  padding-left: 6px;
}

body main #mainContainer .currencyContainer .mainInfo div.updateDate {
  color: #B29700;
  font-size: .8em;
}

body main #mainContainer .currencyContainer .otherInfo {
  position: relative;
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 25px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 12px 12px rgba(0, 0, 0, 0.72);
          box-shadow: 3px 4px 12px 12px rgba(0, 0, 0, 0.72);
  background-color: rgba(20, 20, 20, 0.5);
  overflow: hidden;
  border-left: 1px solid #B29700;
  border-right: 1px solid #B29700;
  -webkit-transition: .6s;
  transition: .6s;
}

body main #mainContainer .currencyContainer .otherInfo.enableBlur > * {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

body main #mainContainer .currencyContainer .otherInfo.enableBlur > *.chart {
  -webkit-filter: blur(0);
          filter: blur(0);
  color: #bbb;
}

body main #mainContainer .currencyContainer .otherInfo.hidden {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 80px;
}

body main #mainContainer .currencyContainer .otherInfo h2 {
  color: #B29700;
  line-height: 50px;
  font-size: 1.4em;
}

body main #mainContainer .currencyContainer .otherInfo p {
  font-size: .8em;
}

body main #mainContainer .currencyContainer .otherInfo p .lastRate {
  padding-right: 10px;
  font-weight: bold;
}

body main #mainContainer .currencyContainer .otherInfo p .lastDate {
  font-size: 0.85em;
}

body main #mainContainer .currencyContainer .otherInfo button {
  background-color: #111111;
  background-color: rgba(10, 10, 10, 0.7);
  border: 0;
  color: #B29700;
  cursor: pointer;
}

body main #mainContainer .currencyContainer .otherInfo button.switch {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-top: 2px solid;
  border-radius: 25px;
  font-size: 1em;
  -webkit-transition: .3s;
  transition: .3s;
}

body main #mainContainer .currencyContainer .otherInfo button.switch i {
  -webkit-transition: .2s;
  transition: .2s;
}

body main #mainContainer .currencyContainer .otherInfo button.switch:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #bbb;
}

body main #mainContainer .currencyContainer .otherInfo button.switch.rotate i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main #mainContainer .currencyContainer .otherInfo button.chart {
  margin: 30px 0;
  padding: 5px 20px;
  background-color: transparent;
  font-size: 1.1em;
  font-weight: bold;
}

body main #mainContainer .mainContainer__containers {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 500px;
  padding-top: 50px;
  color: #ddd;
}

body main #mainContainer .mainContainer__containers h2 {
  padding-bottom: 5px;
  font-size: 2em;
  color: #B29700;
}

body main #mainContainer .mainContainer__containers form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #mainContainer .mainContainer__containers form p {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 1.2em;
}

body main #mainContainer .mainContainer__containers form select,
body main #mainContainer .mainContainer__containers form input,
body main #mainContainer .mainContainer__containers form button.start {
  color: #B29700;
  padding: 0 8px;
  border: 1px solid #B29700;
  border-radius: 24px;
  background-color: #111111;
  font-size: 1em;
  text-align: center;
}

body main #mainContainer .mainContainer__containers form select {
  text-align-last: center;
  cursor: pointer;
}

body main #mainContainer .mainContainer__containers form button.start {
  margin-top: 60px;
  padding: 0 40px;
  font-size: 1.4em;
  -webkit-transition: .15s;
  transition: .15s;
}

body main #mainContainer .mainContainer__containers form button.start:hover {
  color: #bbb;
  border-color: #bbb;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body main #mainContainer .mainContainer__containers#searchContainer #search__form--ratesQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #mainContainer .mainContainer__containers#searchContainer #search__form--ratesQuantity input {
  width: 40px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

body main #mainContainer .mainContainer__containers#searchContainer #search__form--ratesQuantity button {
  height: 100%;
  width: 35px;
  background-color: #111111;
  border: 1px solid #B29700;
  color: #B29700;
  font-size: 1em;
}

body main #mainContainer .mainContainer__containers#searchContainer #search__form--ratesQuantity button:hover {
  color: #bbb;
}

body main #mainContainer .mainContainer__containers#searchContainer #search__form--ratesQuantity button.down {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

body main #mainContainer .mainContainer__containers#searchContainer #search__form--ratesQuantity button.up {
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

body main #mainContainer .mainContainer__containers#calculatorContainer form #calculator__form--options {
  text-align: center;
}

body main #mainContainer .mainContainer__containers#calculatorContainer form #calculator__form--result {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #mainContainer .mainContainer__containers#calculatorContainer form #calculator__form--result .calculator__form--result-container {
  position: relative;
}

body main #mainContainer .mainContainer__containers#calculatorContainer form #calculator__form--result .calculator__form--result-container span {
  position: absolute;
  left: calc(100% + 3px);
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background: #B29700;
  border: 5px solid #111111;
}

::-webkit-scrollbar-thumb:hover {
  background: #a19e9e;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */