@import 'scss/variables';
@import 'scss/keyframes';
@import 'scss/scrollbar';
@import 'scss/components/modal';
@import 'scss/components/button';
@import 'scss/components/header';
@import 'scss/components/mainContainer';
@import 'scss/components/background';
@import 'scss/components/chart';

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    outline: none;
    // border: 1px solid red;
}

body,
html {
    overflow-x: hidden;
}

body {
    position: static;
    height: 100vh;
    font-size: 18px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    background-color: black;

    .wrapper.blurred,
    .wrapper.blurred~canvas#background {
        pointer-events: none;
        animation: .1s blur linear both;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 15px;
    }
}